@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
}

body {
    background-color: #fdddad;
    padding: 0px;
    font-size: 1.2rem;
}

/*navbar*/

.navbar {
    display: flex; 
    margin: 0;
    background-color: #3E2723;
    justify-content: space-between;
    height: 4em;
    padding: 0px 10%;
    grid-column: 1 / -1;
}

.navbar .nav-links li{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    padding: 0px 15px;
}

.nav-links a {
    text-decoration: none;
    color: beige;
}

/*start*/

.start {
    width: 100%;
    overflow: hidden;
    height: 50em;
}

.flexbox1 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 90%;
    width: 100%;
}

.flexbox1wallpaper {
    box-sizing: border-box;
    position: relative;
    filter: brightness(25%);
    z-index: 0;
    height: 100%;
    width: 100%;
}

.flexbox1 .flexbox1text {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: 25%;
    z-index: 1;
    font-size: 2.1vw;
}

.flexbox1text h2 {
    color: #ebd7bf ;
    font-size: 2.8em;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    border-bottom: #dfc5a5 solid;

}

.flexbox1 p {
    color: #dfc5a5 ;
    font-size: 1.6em;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/*grid-container*/

.grid-container > * {
    text-align: center;
}

.grid-container {
    display: grid;
    height: 82rem;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-top: 1.2rem;
}

.grid-container section {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*menu*/

.menu {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #3E2723;
    height: 57rem;
    width: 90%;
    margin: auto;
}

.flexboxmenu {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.menutittle {
    color: #fdddad;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}

.menugrid {
    margin: auto;
    height: 100%;
    width: 95%;
    border-radius: 12px;
}

.menucontent {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/*cards*/

.menucontent div {
    box-sizing: border-box;
    background-color: #fdddad;
    border-radius: 8px;
    max-width: 300px;
    height: 90%;
}

.menucontent h3{
    color: #814439;
}

.cardinfo {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    padding: 1.5rem 2rem;
}


.cardtittle {
    font-size: 1.5rem;
    font-weight: 1000;
}

.cardtext {
    line-height: 1.5;
    font-weight: 200;
}

.cardfigure {
    height: 50%;
    width: 100%;
    aspect-ratio: 3/2;
}

.cardimg {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*review*/

.opinion {
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #3E2723;
    padding: 5%;
}

.flexboxopinion {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #fdddad;
    margin: auto;
    height: 100%;
    width: 90%;
    border-radius: 12px;
}

.opinion h1 {
    color: #fdddad;
    font-size: 3rem;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}


.flexboxopinion div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 6px 37px -13px #3E2723;
    padding: 3%;
    margin: auto;
    height: 90%;
    width: 30%;
}

.flexboxopinion img {
   height: 60%;
   width: 60%;
   margin-bottom: 5%;
   border-radius: 100%;
}

.star {
  font-size: 2rem;
  color: #aa3e2b;
  cursor: pointer;
  transition: color 0.2s;
}

/*footer*/

footer {
    background-color: #3a1711;
    height: 20rem;
    padding: auto;
}

.footercontainer {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    height: 100%;
    width: 100%;
}

.footercontainer div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90%;
    width: 90%;
}

.footercontainer .address{
    flex-direction: column;
    text-align: start;
    font-size: medium;
    color: #dfc5a5;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
}

.address section{
    height: 25%;
    display: flex;
    text-align: start;
    align-items: center;
    align-content: center;
}

.footercontainer .social{
    flex-direction: column;
    color: #dfc5a5;
    font-size: 0.8rem;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    border-left: #dfc5a5 solid 2.5px;
    border-right: #dfc5a5 solid 2.5px;
}

.footercontainer img {
    display: flex;
    height: 45%;
    width: 25%;
} 

.coffeanimation img {
    height: 90%;
    width: 80%;
}

.duzdev {
    background-color: #3a1711;
    text-align: center;
    color: #dfc5a5;
}

@media (max-width:480px){

body {
    background-color: #dfc5a5 ;
}

.flexbox1 .flexbox1text {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: 25%;
    z-index: 1;
    font-size: 2vw;
}

.flexbox1 p {
    color: #dfc5a5 ;
    font-size: 2.5em;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    display: grid;
    height: 130rem;
    gap: 1.4rem;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-top: -42rem;
    margin-bottom: 5rem;
    padding: 0;
}

/*menu*/

.flexboxmenu {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 1%;
    padding: 1%;
}
.menu {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #3E2723;
    height: 100%;
    width: 100%;
}

.menutittle {
    color: #fdddad;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}

.menucontent {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 100% 100% 100%;
    height: 60%;
    width: 90%;
    padding: 1%;
    margin: 0;
}

/*cards*/

.menucontent div {
    box-sizing: border-box;
    background-color: #fdddad;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.menucontent h3{
    color: #814439;
    font-size: 1rem;
}

.card {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 33%;
    width: 100%;
}

.cardinfo {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
}


.cardtittle {
    font-size: 1.3rem;
    font-weight: 1000;
}

.cardtext {
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 200;
}

.cardfigure {
    height: 50%;
    width: 100%;
    aspect-ratio: 3/2;
}

.cardimg {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Opinion */

.flexboxopinion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fdddad;
    margin: auto;
    gap: 5px;
    border-radius: 12px;
    padding: 2%
}

.flexboxopinion div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 6px 37px -13px #3E2723;
    padding: 3%;
    margin: auto;
    height: 99%;
    width: 95%;
}

.opinion h1 {
    color: #fdddad;
    font-size: 2.4rem;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}

.opinion h2 {
    font-size: 1rem;
}

.flexboxopinion img {
   height: 30%;
   width: 30%;
   margin-bottom: 5%;
   border-radius: 100%;
}

.star {
  font-size: 0.8rem;
  color: #aa3e2b;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
}

.footercontainer .social{
    flex-direction: column;
    color: #dfc5a5;
    font-size: 0.8rem;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    border-left: #dfc5a5 solid 2.5px;
    border-right: #dfc5a5 solid 2.5px;
}

.footercontainer img {
    display: flex;
    height: 25%;
    width: 25%;
} 

.coffeanimation img {
    height: 90%;
    width: 80%;
}

}
