@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 1rem;
}

body {
    background-color: #fdddad;
    padding: 0px;
    
}

/*navbar*/

.navbar {
    display: flex; 
    margin: 0;
    background-color: #3E2723;
    justify-content: space-between;
    height: 4em;
    padding: 0px 10%;
    grid-column: 1 / -1;
}

.navbar .nav-links li{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    padding: 0px 15px;
}

.nav-links a {
    text-decoration: none;
    color: beige;
}

/*start*/

.start {
    width: 100%;
    overflow: hidden;
    height: auto;
}

.flexbox1 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 90%;
    width: 100%;
}

.flexbox1wallpaper {
    box-sizing: border-box;
    position: relative;
    filter: brightness(25%);
    z-index: 0;
    height: 100%;
    width: 100%;
}

.flexbox1 .flexbox1text {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: 25%;
    z-index: 1;
    font-size: 1.5vw;
}

.flexbox1text h2 {
    color: #ebd7bf ;
    font-size: 2.8em;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    border-bottom: #dfc5a5 solid;

}

.flexbox1 p {
    color: #dfc5a5 ;
    font-size: 1em;
    font-family: "Imperial Script",;
    font-weight: 200;
    font-style: normal;
}

/*grid-container*/

.grid-container > * {
    text-align: center;
}

.grid-container {
    display: grid;
    height: auto;
    width: 100%;
    padding: 1.2rem;
    gap: 1.5rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
}

.grid-container section {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

/*menu*/

.menu {
    box-sizing: border-box;
    background-color: #3E2723;
    height: 100%;
    width: 100%;
    margin: auto;
}

.menucontainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    gap: 50px;
}

.menutittle {
    font-size: 2.5rem;
    color: #fdddad;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}

.menucontentgrid {
    margin: auto;
    height: 100%;
    width: 95%;
    border-radius: 12px;
}

.menucontent {
    box-sizing: border-box;
    display: grid;
    /* grid-template-columns: repeat(6, 15%); */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    height: auto;
    width: 100%;
    gap: 1.8rem;
    padding: 0;
    margin: 0;
}

/*cards*/

.menucontent div {
    box-sizing: border-box;
    background-color: #fdddad;
    border-radius: 8px;
    max-width: 320px;
    height: 100%;
}

.menucontent h3{
    color: #814439;
}

.cardinfo {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.cardtittle {
    font-size: 1.5rem;
    font-weight: 1000;
}

.cardtext {
    line-height: 1.5;
    font-weight: 200;
}

.cardfigure {
    height: 50%;
    width: 100%;
    aspect-ratio: 3/2;
}

.cardimg {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*review*/

.opinion {
    height: 100%;
    width: 100%;
    background-color: #3E2723;
    padding: 5%;
}

.flexboxopinion {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: #fdddad;
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
}

.opinion h1 {
    color: #fdddad;
    font-size: 2.5rem;
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}


.flexboxopinion div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 6px 37px -13px #3E2723;
    padding: 3%;
    margin: auto;
    height: 100%;
    width: 30%;
}

.flexboxopinion img {
   height: 70%;
   width: 70%;
   margin-bottom: 5%;
   border-radius: 100%;
}

.star {
  font-size: 1.4vw;
  color: #aa3e2b;
  cursor: pointer;
  transition: color 0.2s;
}

/*footer*/

footer {
    background-color: #3a1711;
    height: auto;
    padding: auto;
}

.footercontainer {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    height: 100%;
    width: 100%;
}

.footercontainer div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90%;
    width: 90%;
}

.footercontainer img {
    display: flex;
    height: 33%;
    width: 22%;
} 

.coffeanimation img {
    height: 80%;
    width: 70%;
}

.footeraddress img {
    height: 10%;
    width: 10%;
}

.footercontainer .address{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #dfc5a5;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
}

.address section{
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.footercontainer .social{
    flex-direction: column;
    color: #dfc5a5;
    font-size: 0.8rem;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    border-left: #dfc5a5 solid 2.5px;
    border-right: #dfc5a5 solid 2.5px;
}


.duzdev {
    background-color: #3a1711;
    text-align: center;
    color: #dfc5a5;
}


@media (max-width:580px) {

.flexbox1 .flexbox1text {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: 25%;
    z-index: 1;
    font-size: 1.8vw;
}

.flexbox1text h2 {
    color: #ebd7bf ;
    font-size: 3.8em;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    border-bottom: #dfc5a5 solid;

}

.flexbox1 p {
    color: #dfc5a5 ;
    font-size: 1.8em;
    font-family: "Imperial Script",;
    font-weight: 200;
    font-style: normal;
}

.menucontent div {
    box-sizing: border-box;
    background-color: #fdddad;
    border-radius: 8px;
    max-width: 320px;
    height: 100%;
}

.menucontent h3{
    color: #814439;
}

.cardinfo {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.cardtittle {
    font-size: 1.5rem;
    font-weight: 1000;
}

.cardtext {
    line-height: 1.5;
    font-weight: 200;
}

.cardfigure {
    height: 50%;
    width: 100%;
    aspect-ratio: 3/2;
}

.cardimg {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flexboxopinion {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fdddad;
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
}

.flexboxopinion div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 6px 37px -13px #3E2723;
    padding: 3%;
    margin: auto;
    height: 100%;
    width: 100%;
}

.flexboxopinion img {
   height: 50%;
   width: 50%;
   margin-bottom: 5%;
   border-radius: 100%;
}

}
